<div>
    <table class="table">
        <tr>
            <th>Код валюты</th>
            <th>Покупка</th>
            <th>Продажа</th>
        </tr>
        <tr>
            <td><?=$usd->ccy?></td>
            <td><?=round($usd->buy,2,PHP_ROUND_HALF_ODD).' '.$usd->base_ccy?></td>
            <td><?=round($usd->sale,2,PHP_ROUND_HALF_ODD).' '.$usd->base_ccy?></td>
        </tr>
        <tr>
            <td><?=$eur->ccy?></td>
            <td><?=round($eur->buy,2,PHP_ROUND_HALF_ODD).' '.$eur->base_ccy?></td>
            <td><?=round($eur->sale,2,PHP_ROUND_HALF_ODD).' '.$eur->base_ccy?></td>
        </tr>
        <tr>
            <td><?=$rur->ccy?></td>
            <td><?=round($rur->buy,2,PHP_ROUND_HALF_ODD).' '.$rur->base_ccy?></td>
            <td><?=round($rur->sale,2,PHP_ROUND_HALF_ODD).' '.$rur->base_ccy?></td>
        </tr>
        <tr>
            <td><?=$btc->ccy?></td>
            <td><?=round($btc->buy,2,PHP_ROUND_HALF_ODD).' '.$btc->base_ccy?></td>
            <td><?=round($btc->sale,2,PHP_ROUND_HALF_ODD).' '.$btc->base_ccy?></td>
        </tr>
    </table>
</div>