<div class="alert-success">
    <?=$result?>
</div>
<div class="form-row">
    <form action="?route=currency/calculate" method="post">
    <div class="form-group col-md-2">
        <label for="currency1">Currency</label>
        <select id="currency1" class="form-control" name="currency1">
            <option selected>UAH</option>
            <option>EUR</option>
            <option>USD</option>
            <option>BTC</option>
            <option>RUR</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label for="number">Number</label>
        <input type="text" class="form-control" id="number" name="number">
    </div>
    <div class="form-group col-md-2 col-md-offset-4">
        <label for="currency2">Currency</label>
        <select id="currency2" class="form-control" name="currency2">
            <option selected>UAH</option>
            <option>EUR</option>
            <option>USD</option>
            <option>BTC</option>
            <option>RUR</option>
        </select>
    </div>
    <br>
    <button class="btn btn-primary " type="submit">Count</button>
    </form>
</div>