<div class="">
    <?php if (isset($_SESSION['user_id'])): ?>
    <form action="?route=book/store" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" class="form-control">
        </div>

        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" name="year" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <?php else: ?>
    <p>You do not have access</p>
    <?php endif; ?>
</div>