<div class="alert-success">
    <?= $status ?>
</div>

<div class="">
    <form action="/" method="get">
        <input type="hidden" name="route" value="book/search">

        <input type="text" placeholder="find book by title" name="title">

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<div class="table-active">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <?php $id = 1;
        while ($row = $books->fetch_assoc()): ?>
            <tr>
                <td>
                    <?= $id++ ?>
                </td>
                <td>
                    <?= $row['title'] ?>
                </td>
                <td>
                    <?= $row['author'] ?>
                </td>
                <td>
                    <?= $row['year'] ?>
                </td>
            </tr>
        <?php endwhile; ?>
        </tbody>
    </table>
</div>

