<div class="alert-success">
    <?= $status ?>
</div>


<div class="table-active">
    <?php if (empty($book) == false): ?>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <?= $book['title'] ?>
                </td>
                <td>
                    <?= $book['author'] ?>
                </td>
                <td>
                    <?= $book['year'] ?>
                </td>
            </tr>
            </tbody>
        </table>
    <?php endif; ?>
</div>